.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.A4Paper{
	height: 842px;
	width: 595px;
	/* to centre page on screen*/
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	overflow: hidden;
}

.ImageOptions{
	padding: 10px;
	padding-right: 30px;
}
.GraphicOptions{
	padding: 10px;
	padding-left: 30px;
}
.titleImg{
	font-weight: bold;
}
.img{
	width: 100%;
	cursor:grab;
}
.img:active{
	cursor:grabbing;
}

